<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<servlet>
	    <servlet-name>question</servlet-name>
	    <servlet-class>com.pcw.service.Question</servlet-class>
	 <!--    <load-on-startup>5</load-on-startup> -->
	</servlet>
	<servlet>
	    <servlet-name>getverifiedimg</servlet-name>
	    <servlet-class>com.pcw.service.GetVerifiedImg</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>question</servlet-name>
	    <url-pattern>/al/question.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>getverifiedimg</servlet-name>
	    <url-pattern>/getverifiedimg</url-pattern>
	</servlet-mapping>
</web-app>